<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emali confirmation</title>
</head>
<body>
{% autoescape off %}

Welcome to Nu collection

Hello{{ name }}

please confirm your email by clicking on the following link.
Confirmation link: http//:{{ domain }}{% url 'activate' uid64=uid token=token    %}


{% endautoescape %}

</body>
</html>